.product__item{    
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__text{
    line-height: 1.8;
    font-family: var(--Raleway);
    color: var(--blanco);
}

@media screen and (min-width: 0px) and (max-width: 1023px){
    .product__item:nth-child(5),
    .product__item:nth-child(6){
        display: none;
    }
}
